<h4 class='text-center'><u>Application Form</u></h4>
<form action="/job/job['id']/apply" method='post'>
  <label class='mt-2'>Full Name: </label><br>
  <input type='text' name='full_name' placeholder='John Doe'><br>
  <label class='mt-2'>Email: </label><br>
  <input type='text' name='email' placeholder='johndoe@xyz.com'><br>
  <label class='mt-2'>LinkedIn: </label><br>
  <input type='text' name='linkedin' placeholder='linkedin.com/johndoe'><br>
  <label class='mt-2'>Education</label><br>
  <textarea name='education'></textarea><br>
  <label class='mt-2'>Experience</label><br>
  <textarea name='experience'></textarea><br>
  <label class='mt-2'>Resume URL: </label><br>
  <input type='text' name='resume'><br>
  

  <input type='submit' class='mt-4'>
</form>