<h4 class='text-center'><u>Application Form</u></h4>
<form action="/job/{{job[0]['id']}}/apply" method="post">
  
  <label class='mt-2'>Full Name: </label><br>
  <input type='text' required name='full_name' placeholder='John Doe'><br>
  
  <label class='mt-2'>Email: </label><br>
  <input type='email' required name='email' placeholder='johndoe@xyz.com'><br>
  
  <label class='mt-2'>LinkedIn: </label><br>
  <input type='url' required name='linkedin' placeholder='https://www.linkedin.com/johndoe'><br>
  
  <label class='mt-2'>Education</label><br>
  <textarea name='education'></textarea><br>
  
  <label class='mt-2'>Experience</label><br>
  <textarea name='experience'></textarea><br>
  
  <label class='mt-2'>Resume URL: </label><br>
  <input type='url' name='resume'><br>
  

  <input type='submit' class='mt-4'>
</form>