<!DOCTYPE html>
<html>
  <head>
    <title>
      Careers
    </title>
    {% include 'bootstrap.html' %}
  </head>
  <body>
    {% include 'nav.html' %}
    
    <div class="container">
      <h1 class="fw-bold text-center mt-4 mb-4"><u>
      Work for us!
      </u></h1>
      <div class="row">
        <div class="col-md-6">
      <p class="lead">
        Eu nisl nunc mi ipsum faucibus vitae. Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi tristique. Lacus luctus accumsan tortor posuere ac ut. Vitae elementum curabitur vitae nunc sed velit. Sem viverra aliquet eget sit. Est consectetur aliquid et beatae doloremque aut similique velit. Et odit maxime est soluta laboriosam sit explicabo doloribus ea voluptas natus eum expedita facilis et vitae consequatur. Ut animi quos et omnis delectus et tenetur ipsa non sapiente odit ut libero dolorem.
      </p>
      </div>
      <div class="d-none d-md-block col-md-6">
    <img src="/static/work.jpg" style="height:300px;width:500px;border-radius:30px;">
      </div>
    </div>
      <h2 class="fw-semibold">
        About us
      </h2>
      <p class="lead">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Et rerum blanditiis sit voluptas fugiat quo quia atque id accusantium sunt aut neque internos. Et Quis illum sit maiores veniam et nobis similique!
      </p>
      <h2 class="fw-semibold">
        Job Postings
      </h2>
      <div>
        {% for job in jobs %}
          {% include 'jobitem.html' %}        
        {% endfor %}
      </div>
    </div>
      <img class="img-fluid" id="resume" src="https://sample-website-1.avichals.repl.co/static/Resume.jpg">
    <h3 class="fw-normal fst-italic text-center">
        Contact me
      </h3>
      <div class="text-center">
      <a href="mailto:avichalsharma2003@gmail.com?subject=Inquiry for Sample Website" class="btn btn-info btn-lg ms-2 mt-2">
        via Mail
      </a>
      <a href="https://www.linkedin.com/in/avichalsharma7" class="btn btn-info btn-lg ms-2 mt-2">
        via LinkedIn
      </a>
      <button class="btn btn-info btn-lg ms-2 mt-2">
        via Form
      </button>
      </div>
    {% include 'footer.html' %}
  </body>
</html>