<div class="border-bottom row" style="padding-bottom:2px; margin-bottom:26px">
  <div class="col-11">
  <h4 class="lead fs-5 text-secondary fw-bolder" style=>
    Job role: 
    <div class="fw-semibold">{{job['title']}}</div>
  </h4>
<div>
  <h4 class="lead fs-6">
    <b>Location: </b>
    {{job['job_loc']}}
  </h4>
</div>
{% if 'sal' in job %}
<div>
  <h4 class="lead fs-6 mb-2">
    <b>Salary: </b>
    {{job['sal']}}
  </h4>
</div>
{% endif %}
  </div>
  <div class="col-1">
  <a href="mailto:avichalsharma2003@gmail.com?subject=Application%20for%20{{job['title']}}&body=My%20Name%3A%20%3Cyour%20name%20here%3E%0D%0AMy%20resume%20link%3A%20%3Cresume%20link%20or%20attachment%20status%3E%0D%0AMy%20LinkedIn%20profile%3A%20%3CLinkedIn%20profile%20link%20here%3E" type="button" class="btn btn-outline-info position-relative top-40 start-10 mb-3">Mail</a>
  <a href="/job/{{job['id']}}" type="button" class="btn btn-outline-info position-relative top-40 start-10">Apply</a>
</div>
</div>