<!DOCTYPE html>
<html>
  <head>
    <title>{{job[0]['title']}} - Experience</title>
    {% include 'bootstrap.html' %}
  </head>
  <body>
    {% include 'nav.html' %}
    <div class="container">
      <h1 class="fw-bold text-center mt-4 mb-4"><u>
      Lorem Ipsum
      </u></h1>
      <h3 class='mb-2 text-secondary'>{{job[0]['title']}}</h3>
      
      <p class='lead mt-0 mb-3'>{{job[0]['job_loc']}}</p>
      
      <h4 class='fs-5 text-secondary'>Responsibilities</h4>
      <ul>
        {% for line in job[0]['responsibilities'].split(". ") %}
          <li>{{line}}</li>
        {% endfor %}
      </ul>
      <h4 class='fs-5 text-secondary'>Requirements</h4>
      <ol>
        {% for line in job[0]['requirements'].split(". ") %}
          <li>{{line}}</li>
        {% endfor %}
      </ol>
    <h4 class='fs-5 text-secondary'>Salary</h4>
      <p>{{job[0]['currency']}} {{job[0]['sal']}}</p>
    </div>
    {% include 'footer.html' %}
  </body>
</html>